.App {
  display: grid;
  width: 100%;
  max-width: 1440px;
  background-color: #edefee;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0px 70px;
  column-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
}

header {
  display: grid;
  grid-column: 3 / span 8;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #495e57;
}

nav {
  display: flex;
  grid-column: 3 / span 8;
  align-items: center;
  height: 122px;
  background-color: #adfee3;
}

nav img {
  height: 57px;
  width: auto;
}

nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0px 20px;
}

nav ul li a {
  /* KODE INI: Menghilangkan garis bawah */
  text-decoration: none;
  /* KODE INI: Mengubah warna teks link (ganti sesuai desain Figmamu, misal hitam) */
  color: #000000;
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 500; /* Opsional: Membuat tulisan sedikit lebih tebal */
  transition: color 0.2s ease; /* Opsional: Efek halus saat di-hover */
}

nav ul li a:hover {
  color: #495e57; /* Berubah warna mengikuti warna background header kamu */
}



.main-content {
  display: grid;
  grid-column: 3 / span 8;
  align-items: center;
  background-color: #fece75;
}

footer {
  display: grid;
  grid-column: 3 / span 8;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #495e57;
}


